@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif !important;
}

.navbar,
.nav-item {
  z-index: 100;
}

.sidebar {
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

a {
  text-decoration: none !important;
}

::placeholder {
  color: hsl(215, 20%, 45%) !important;
}

@media screen and (max-width: 640px) {
  ::placeholder {
    font-size: 0.9rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsl(259, 100%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(178, 14%, 25%);
}

.username {
  word-wrap: break-word !important;
}

.events .swiper-slide {
  width: 350px !important;
}

.events .swiper-pagination {
  position: relative;
  margin-top: 20px;
}

.events .swiper-pagination-bullet-active {
  background: #009063 !important;
}

.mySwiper {
  overflow: hidden !important;
}

.bgr-white {
  background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
  .events {
    overflow: hidden !important;
    width: 71.2vw;
  }

  .events .swiper-pagination {
    display: none !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
